@import './style/reset.css';
@import './style/index.css';
@import './style/todo.css';

@font-face {
  font-family: naverNanumSquareNeo;
  src: url('font/NanumSquareNeo-bRg.ttf');
}
* {
  box-sizing: border-box;
  font-family: 'naverNanumSquareNeo', 'Courier New', Courier, monospace;
}
body {
  font-family: 'naverNanumSquareNeo', 'Courier New', Courier, monospace;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.d-none {
  display: none !important;
}
.v-hidden {
  visibility: hidden !important;
}
.t-line {
  text-decoration: line-through;
}
