@font-face {
  font-family: naverNanumSquareNeo;
  src: url(../font/NanumSquareNeoOTF-bRg.otf);
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'naverNanumSquareNeo', 'Courier New', Courier, monospace;
}

.d-none {
  display: none;
}
